html {
  @include scroll-bar(8px, $color-primary-darker);
}

.css-1ddsiuw-MuiListItemIcon-root {
  color: unset !important;
}
.css-wa5fuu-MuiListItemIcon-root  {
  color: unset !important;
}
.layout-custom {
  &__app-bar {
    background-color: $color-primary !important;
  }
  &__list {
    padding-top: 0px !important;
  }
  &__menu {
    color: $color-primary-darker;
    font-weight: bold !important;
    font-size: large !important;
    &--active {
      background-color: $color-primary;
      color: $color-on-primary;
    }

    &__icon {
      &--active {
        filter: brightness(0) invert(1) !important;
      }
    }
  }
}
