$shadow-L: 0px 0px 20px rgba(44, 14, 97, 0.15) !default;
$shadow-M: 0px 5px 10px rgba(44, 14, 97, 0.1) !default;
$shadow-S: 0px 1px 3px 0px rgba(44, 14, 97, 0.15) !default;
$shadow-XL: 0px 0px 30px 10px rgba(44, 14, 97, 0.1) !default;
